@import 'reset.scss';

@font-face {
   font-family: Manrope;
   src: url(../fonts/Manrope-ExtraBold.ttf);
   font-weight: 800;
   font-style: normal;
}
@font-face {
   font-family: Manrope;
   src: url(../fonts/Manrope-Bold.ttf);
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: Manrope;
   src: url(../fonts/Manrope-SemiBold.ttf);
   font-weight: 600;
   font-style: normal;
}
@font-face {
   font-family: Manrope;
   src: url(../fonts/Manrope-Medium.ttf);
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: Manrope;
   src: url(../fonts/Manrope-Regular.ttf);
   font-weight: 400;
   font-style: normal;
}
@font-face{
   font-family: Manrope;
   src: url(../fonts/Manrope-Light.ttf);
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: Manrope;
   src: url(../fonts/Manrope-ExtraLight.ttf);
   font-weight: 200;
   font-style: normal;
}

%maketfont{
   font-size: 19px;
   line-height: 25px;
   font-weight: 800;
}
%h2font {
   font-size: 45px;
   line-height: 55px;
   font-weight: 800;
   text-align: center;
   text-transform: uppercase;
}

body{
   font-family: Manrope;
   color:#17181C;
}
header{
   height: 830px;
   position: relative;
   background: linear-gradient(108.11deg, #000000 37.68%, rgba(0, 0, 0, 0) 85.37%), url(../IMG/pic.jpg);
   opacity: 0.9;
   margin: 0px 0px 192px 0px;
   padding-top: 19px;
}
.header__container{
   max-width: 1060px;
   margin: 0px auto;
   .header__nav{
      display: flex;
      height: 87px;
      justify-content: space-between;
      margin: 0px 0px 80px 0px;
      .nav-item__logo{
         width: 170px;
         height: 86px;
         padding: 0px;
         margin: 0px 60px 0px 0px;
      }
      .nav-item__list{
         list-style-type: none;
         ul{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            li {
               margin-right: 15px;
               a {
                  text-decoration: none;
                  font-weight: 800;
                  font-size: 16px;
                  line-height: 21.86px;
                  color: #FFFFFFCC;
                  &:hover {
                     color: red;
                     text-decoration: underline;
                  }
               }
            }
            
         }
      }
      .nav-item__phone{
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0px 5px 0px 15px;
         a{
            text-decoration: none;
            font-size: 20px;
            font-weight: 800;
            color: #FFFFFF;
            line-height: 27.32px;
            &:hover {
               color: red;
               text-decoration: underline;
            }
         }
      }
      .nav-item__button{
         display: flex;
         width: 214px;
         height: 55px;
         background-color: #5BBFC8;
         border-radius: 5px;
         justify-content: center;
         align-items: center;
         margin: 16px 0px 0px 0px;
         a{
            text-decoration: none;
            color: #000000;
            font-weight: 800;
            font-size: 16px;
            line-height: 21.86px;
         }
         &:hover {
            background-color: #29a46b;
            color: rgb(91, 10, 10);
         }
      }
   }
   .header__main{
      .header__title{
         width: 800px;
         color: #FFFFFF;
         font-size: 64px;
         line-height: 80px;
         font-weight: 800;
         text-transform: uppercase;
         margin: 0px 0px 10px 0px;
      }
      .header__text{
         font-weight: 400px;
         font-size: 18px;
         line-height: 24.59px;
         color: #FFFFFF;
         width: 540px;
         margin: 0px 0px 41px 0px;
         height: 104px;
      }
      .header__button{
         margin: 0px 0px 85px 0px;
      }
   }
   .header__cards{
      display: flex;
      justify-content: space-between;
      .item-cards {
         box-sizing: border-box;
         width: 204px;
         height: 287px;
         font-size: 19px;
         line-height: 25px;
         font-weight: 800;
         margin: 0px 0px 0px 11px;
         padding: 19px 5px 5px 17px;
         border-radius: 10px;
         .item-cards__price-image {
               position: relative;
               width: 60px;
               height: 25px;
               border-radius: 5px;
               padding-left: 8px;
            }
         &:nth-child(2){
            background: #FFD300;
            color: #000000;
            .item-cards__car-image{
               position: relative;
                  top: 110px;
                  left: 0px;
            }
            .item-cards__price-image{
               background: #DEB905;
            }
         }
         &:nth-child(3) {
            background: #4B5257;
               color: #FFFFFF;
            .item-cards__car-image {
               position: relative;
               top: 75px;
               left: 0px;
            }
            .item-cards__price-image {
               background: #B0B0B0;
            }
         }
         &:nth-child(4) {
            background-color: #5BBFC8;
            color: #000000;
            .item-cards__car-image {
               position: relative;
               top: 60px;
               left: 0px;
            }
            .item-cards__price-image {
               background: #49A1A9;
            }
         }
         &:hover {
            box-shadow: 0px 0px 16px rgb(152, 196, 230);
         }
         &__price-image{
            position: relative;
            margin: 0px 0px 13px 0px;
         }
         &:first-child{
            background: linear-gradient(108.11deg, #e1dddd 1%, rgba(247, 246, 246, 0.777) 1%), url(../IMG/pic11.jpg);
            width: 412px;
            height: 288px;
            .item-cards__container{
               margin: 36px 24px 66px 42px;
               .item-cards__title{
                  font-size: 30px;
                  font-weight: 800;
                  line-height: 41px;
               }
               .item-cards__title-line {
                  margin: 10px 0px 18px 0px;
                  width: 88px;
                  height: 5px;
                  background-color: #171717;
                  border-radius: 5px;
               }
               .item-cards__text{
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 22px;
               }
            }
            &:hover {
               box-shadow: 0px 0px 16px rgb(175, 169, 169);
            }
         }
      }
   }
}
.buttons{
   display: flex;
   justify-content: center;
   align-items: center;
   background: #FFD200 url('../IMG/racing\ 1.svg')92% 50% no-repeat;
   width: 250px;
   height: 66px;
   font-size: 16px;
   line-height: 21.86px;
   font-weight: 700;
   padding-right: 40px;
   border-radius: 5px;
   border: 0px;
   &:hover{
   background-color: #ff9100;
   }
}

.main_title{
   @extend %h2font;
}

.services {
   .services__header {
      margin: 0px 0px 19px 0px;
   }
   .services__subtitle {
      font-size: 22px;
      line-height: 35px;
      font-weight: 700;
      text-align: center;
      margin: 10px 0px 60px 0px;
      span {
         display: inline-block;
         width: 102px;
         height: 41px;
         border-radius: 5px;
         background-color: #FFD300;
         margin-right: 10px;
         color: #17181C;
         ;
      }
   }
   .services__main{
      .services__img {
         margin: 0px 75px 0px 0px;
         img {
         float: left;
         display: block;
         max-width: 760px;
         }
      }
      .services__options {
         display: inline-block;
         margin: 30px 0px 0px 70px;
         .services__list {
            font-size: 22px;
            line-height: 45px;
            color: #17181C;
            margin: 0px 0px 45px 0px;
            li p {
               display: inline-block;
               margin: 0px 0px 0px 15px;
            }
            & li:before {
               content: ' ';
               background-color: #171717;
               border-radius: 5px;
               padding-right: 5px;
            }
         }
         .services__form {
            .form_p{
               margin-left: 124px - 75px;
            }
            .phone_number {
               display: block;
               margin: 0px 0px 24px 21px;
               width: 300px;
               height: 30px;
               font-size: 24px;
               text-align: center;
            }
            .services__submit {
               margin: 0px 0px 54px 71px;
               width: 200px;
               height: 40px;
               background-color: #FFD300;
               border: 0px;
               border-radius: 5px;
               font-size: 16px;
               line-height: 22px;
               &:hover{
                  background: #ea7741;
               }
            }
         }
      }
   }
}
.mobile{
   font-size: 14px;
   line-height: 20px;
   font-weight: 500;
   color: #17181C;
   margin-bottom: 8px;
}
.benefits{
   background: url(../IMG/bg_pic.jpg);
   padding: 94px 0px 0px 0px;
   position: relative;
   &__title{
      width: 770px;
      margin: 0px auto;
      margin-bottom: 163px;
   }
   .benefits__main-block{
      display: flex;
   }
   .benefits__left-options{
      max-width: 300px;
      margin: 0px 70px 0px 270px;
   }
   .benefits__left-list{
      font-size: 20px;
      line-height: 23px;
      font-weight: 800;
      & li:first-child{
         margin: 0px 0px 45px 0px;
      }
      & li:nth-child(2){
         margin: 0px 0px 80px 0px;
      }
      & li:nth-child(3){
         margin: 0px 0px 78px 0px;
      }
   }
   .benefits__img{
      display: inline-block;
      width: 298px;
      height: 379px;
      margin: 20px 100px 225px 0px;
   }
   &__right-options{

      .benefit__right-list{
         display: inline-block;
         font-size: 20px;
         line-height: 23px;
         font-weight: 800;
         margin: 0px 0px 0px 0px;
         & li:first-child {
               margin: 0px 0px 60px 0px;
            }
         
            & li:nth-child(2) {
               margin: 0px 0px 90px 0px;
            }
         
            & li:nth-child(3) {
               margin: 0px 0px 105px 0px;
            }
      }
   }
}

.callback{
   background: #FFD300 url('../IMG/Frame.svg') 0px 289px no-repeat;
   &__title{
      padding: 128px 0px 0px 0px;
      margin: 0px 0px 102px 0px;
   }
   &__form{
      .callback_p{
         margin: 0px 0px 8px 580px;
      }
      .callback__main-form{
         display: flex;
         .phone-number {
            box-sizing: border-box;
            margin: 0px 0px 107px 552px;
            width: 300px;
            height: 66px;
            font-size: 40px;
            line-height: 45px;
            text-align: center;
         }
         .callback__form_button {
            width: 250px;
            height: 66px;
            background: #17181C;
            border-radius: 5px;
            color: #FFFFFF;
            margin: 0px 0px -5px 18px;
            &:hover {
               border: 2px solid red;
               color: red;
            }
         }
      }
   }
}

.works{
   background-color: #E5E5E5;
   &__title{
      padding: 94px 0px 0px 0px;
      margin: 0px 0px 115px 0px;
   }
   &__main{
      display: flex;
      width: 100%;
   }
   &__img{
      margin: 0px 150px 118px 300px;
      max-width: 375px;
   }
   &__options{
      font-size: 22px;
      line-height: 35px;
      width: 400px;
      width: 700;
      li {
         padding-left: 15px;
      }
      & li:before{
         content: '';
         width: 8px;
         height: 8px;
         border-radius: 50%;
         background-color: black;
         margin: 0px 10px 0px 0px;
         display: inline-block;
      }
   }
}

.prices{
   background-color: #ffffff;
   padding-top: 92px;
   &__title{
      margin: 0px auto;
      margin-bottom: 150px;
      width: 650px;
   }
   &__list{
      margin: 0px 0px 90px 0px;
      span {
         position: relative;
         justify-content: space-between;
         display: flex;
         font-size: 17px;
         line-height: 35px;
         width: 800px;
         height: 30px;
         background-color: #f0eeed;
         margin: 0 auto;
         margin-bottom: 5px;
         padding: 0px 20px;
         &:hover{
            background-color: #a29d9a;
         }
         p{
            display: inline-block;
            
         }
      }
   }
   &__button {
      margin: 0px 0px 90px 0px;
      margin-left: (1536px/2-125px);
   }
}

footer{
   background-color: #17181C;
   .footer__container {
      width: 1060px;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 50px;
      .footer__main {
         display: flex;
         justify-content: space-between;
         margin: 0px 0px 40px 0px;
         .footer__list {
            width: 400px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            li a{
               color: #FFFFFF;
               font-size: 16px;
               line-height: 22px;
               text-decoration: none;
            }
            & li :hover {
               color: red;
               text-decoration: underline;
            }
         }
         .phone_logo {
            color: #FFD300;
            display: flex;
            align-items: flex-end;
            padding-right: 15px;
            text-decoration: none;
            &:hover {
               text-decoration: underline;
            }
            .phone_img {
               margin: 0px 5px 0px 0px;
            }
         }
      }
   }
   .footer__info{
      color: #FFFFFF;
      text-align: center;
      padding: 10px 0px ;
      line-height: 45px;
   }
   .horisontal_line{
      width: 100%;
      height: 2px;
      background-color: #ffffff;
   }
}
