@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

.main_title {
  font-size: 45px;
  line-height: 55px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

body {
  font-family: Manrope;
  color: #17181C;
  background-color: #E5E5E5;
  font-size: 16px;
}

header {
  width: 100%;
  max-height: 830px;
  background: linear-gradient(108.11deg, #000000 37.68%, rgba(0, 0, 0, 0) 85.37%), url(../IMG/pic.jpg);
  opacity: 0.9;
  margin: 0px 0px 192px 0px;
  padding: 0px 10px;
  padding-top: 19px;
}

.header__container {
  max-width: 1060px;
  margin: 0px auto;
}

.header__container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 0px 80px 0px;
}

.header__container .header__nav .nav__logo {
  margin: 0px 10px 0px 0px;
}

.header__container .header__nav .nav__row {
  margin: 0px 0px 19px 20px;
}

.header__container .header__nav .nav__row .nav__row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .header__nav .nav__row .nav__row-list li {
  margin: 0px 30px 0px 0px;
}

.header__container .header__nav .nav__row .nav__row-list li a {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.header__container .header__nav .nav__row .nav__row-list li a:hover {
  color: #d9ff00;
  text-decoration: underline;
}

.header__container .header__nav .nav__phone {
  margin: 0px 10px 15px 0px;
}

.header__container .header__nav .nav__phone .nav__phone-number {
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.header__container .header__nav .nav__phone .nav__phone-number:hover {
  color: #d9ff00;
  text-decoration: underline;
}

.header__container .header__nav .nav__button {
  margin: 16px 0px 0px 0px;
}

.header__container .header__nav .nav__button .nav__button-space {
  background-color: #5BBFC8;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 214px;
  height: 55px;
  color: #000000;
  font-weight: 700;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.header__container .header__nav .nav__button .nav__button-space:hover {
  background-color: #d9ff00;
}

.header__container .header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header__container .header__main .header__title {
  max-width: 800px;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
}

.header__container .header__main .header__text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 540px;
  margin: 0px 0px 60px 0px;
  height: 104px;
}

.header__container .header__main .header__button {
  margin: 0px 0px 85px 0px;
}

.header__container .header__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .header__cards .item-cards-first {
  background: linear-gradient(108.11deg, #e1dddd 1%, rgba(247, 246, 246, 0.777) 1%), url(../IMG/pic11.jpg);
  max-width: 412px;
  max-height: 288px;
  margin: 0px 0px 0px 5px;
  padding: 60px 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
}

.header__container .header__cards .item-cards-first .item-cards__title {
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  margin: 0px 0px 10px 0px;
}

.header__container .header__cards .item-cards-first .item-cards__hl {
  height: 5px;
  max-width: 90px;
  background-color: #171717;
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
}

.header__container .header__cards .item-cards-first .item-cards__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.header__container .header__cards .item-cards-first:hover {
  -webkit-box-shadow: 0px 0px 16px #afa9a9;
          box-shadow: 0px 0px 16px #afa9a9;
}

.header__container .header__cards .item-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 204px;
  height: 287px;
  font-size: 19px;
  line-height: 25px;
  font-weight: 800;
  margin: 0px 0px 0px 11px;
  padding: 19px 5px 5px 17px;
  border-radius: 10px;
}

.header__container .header__cards .item-cards .item-cards__price-image {
  width: 65px;
  height: 28px;
  border-radius: 5px;
  padding: 8px;
}

.header__container .header__cards .item-cards .item-cards__name {
  margin: 13px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__container .header__cards .item-cards:hover {
  -webkit-box-shadow: 0px 0px 16px #98c4e6;
          box-shadow: 0px 0px 16px #98c4e6;
}

.item-cards2 {
  background: #FFD300;
  color: #000000;
}

.item-cards2 .item-cards__price-image {
  background: #DEB905;
}

.item-cards2 .item-cards__name {
  width: 120px;
}

.item-cards3 {
  background: #4B5257;
  color: #FFFFFF;
}

.item-cards3 .item-cards__price-image {
  background: #B0B0B0;
}

.item-cards4 {
  background-color: #5BBFC8;
  color: #000000;
}

.item-cards4 .item-cards__price-image {
  background: #49A1A9;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFD200 url("../IMG/racing 1.svg") 92% 50% no-repeat;
  width: 250px;
  height: 66px;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 700;
  padding-right: 40px;
  border-radius: 5px;
  border: 0px;
}

.buttons:hover {
  background-color: #ff9100;
}

.services {
  margin: 0px 10px;
}

.services__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__header {
  width: 100%;
  margin: 0px 0px 60px 0px;
}

.services__header .services__subtitle {
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  text-align: center;
}

.services__header .services__stock {
  display: inline-block;
  width: 102px;
  height: 41px;
  border-radius: 5px;
  background-color: #FFD300;
  margin-right: 10px;
}

.services .services__img {
  max-width: 760px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0px 30px 0px 0px;
}

.services .services__img img {
  width: 100%;
}

.services .services__options {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0px 0px 70px;
}

.services .services__options .services__list {
  font-size: 22px;
  line-height: 45px;
  margin: 0px 0px 45px 0px;
}

.services .services__options .services__list li:hover {
  color: #73c4e1;
}

.services .services__options .services__list li p {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}

.services .services__options .services__list li:before {
  content: ' ';
  background-color: #171717;
  border-radius: 5px;
  padding-right: 5px;
}

.services .services__options .services__form .form_p {
  margin-left: 54px;
}

.services .services__options .services__form .phone_number {
  display: block;
  margin: 0px 0px 24px 26px;
  width: 300px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
}

.services .services__options .services__form .services__submit {
  margin: 0px 0px 54px 76px;
  width: 200px;
  height: 40px;
  background-color: #FFD300;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

.services .services__options .services__form .services__submit:hover {
  background: #d0571f;
}

@media (max-width: 1350px) {
  .services__options {
    margin-left: 0px;
  }
  .services__img {
    max-width: 660px;
  }
}

.mobile {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #17181C;
  margin-bottom: 8px;
}

.benefits {
  background: #FFFFFF url(../IMG/bg_pic.jpg);
  padding: 94px 0px 225px 0px;
}

.benefits__title {
  max-width: 770px;
  margin: 0px auto;
  margin-bottom: 163px;
}

.benefits .benefits__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  max-width: 1060px;
  margin: 0px auto;
  height: 410px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
}

.benefits .benefits__left-options li {
  border-bottom: 1px dotted black;
  max-width: 260px;
}

.benefits .benefits__left-options li:hover {
  color: red;
}

.benefits .benefits__left-options li:first-child {
  padding: 0px 0px 20px 0px;
}

.benefits .benefits__left-options li:nth-child(2) {
  padding: 25px 0px 30px 0px;
}

.benefits .benefits__left-options li:nth-child(3) {
  padding: 28px 0px 27px 0px;
}

.benefits .benefits__left-options li:last-child {
  padding: 25px 0px 20px 0px;
}

.benefits .benefits__img {
  max-width: 298px;
  height: 379px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.benefits .benefit__right-options li {
  border-bottom: 1px dotted black;
  max-width: 260px;
}

.benefits .benefit__right-options li:hover {
  color: red;
}

.benefits .benefit__right-options li:first-child {
  padding: 0px 0px 20px 0px;
}

.benefits .benefit__right-options li:nth-child(2) {
  padding: 43px 0px 34px 0px;
}

.benefits .benefit__right-options li:nth-child(3) {
  padding: 40px 0px 36px 0px;
}

.benefits .benefit__right-options li:last-child {
  padding: 30px 0px 42px 0px;
}

.callback {
  background: url("../IMG/Frame.svg") 0px 249px no-repeat, url(../IMG/callback_right-vector.svg) 100% 142px no-repeat;
  background-color: #FFD300;
  padding: 128px 0px 107px 0px;
}

.callback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
  height: 250px;
  margin: 0px auto;
}

.callback__title {
  margin: 0px 0px 42px 0px;
}

.callback__form .callback_p {
  margin: 0px 0px 8px 66px;
}

.callback__form .callback__main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback__form .callback__main-form .phone-number {
  margin: 0px 18px 0px 38px;
  max-width: 350px;
  height: 66px;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
}

.callback__form .callback__main-form .callback__form_button {
  width: 250px;
  height: 66px;
  background: #17181C;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 16px;
}

.callback__form .callback__main-form .callback__form_button:hover {
  border: 2px solid red;
  color: red;
}

@media (max-width: 769px) {
  .callback__main-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.works {
  margin: 94px 0px 118px 0px;
}

.works__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1060px;
  height: 525px;
  margin: 0px auto;
}

.works__title {
  margin: 0px 0px 115px 0px;
  width: 100%;
}

.works__img {
  max-width: 375px;
}

.works__options {
  font-size: 22px;
  line-height: 35px;
  max-width: 400px;
  width: 700;
}

.works__options li {
  padding-left: 15px;
}

.works__options li:hover {
  text-decoration: underline;
}

.works__options li:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  margin: 0px 10px 5px 0px;
  display: inline-block;
}

.prices {
  background-color: #ffffff;
  padding: 92px 0px;
}

.prices__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 830px;
  height: 975px;
  margin: 0px auto;
}

.prices__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 650px;
  margin: 0px auto;
  margin-bottom: 160px;
}

.prices__list {
  margin: 0px 0px 70px 0px;
}

.prices__list span {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  line-height: 35px;
  max-width: 830px;
  height: 30px;
  background-color: #f0eeed;
  margin-bottom: 5px;
  padding: 0px 20px;
}

.prices__list span:hover {
  background-color: #a29d9a;
}

.prices__button {
  margin: 0px auto;
}

footer {
  background: #17181C url(../IMG/Vector_footer.svg) 160px -180px no-repeat;
}

footer .footer__container {
  max-width: 1060px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__container .footer__list {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer__container .footer__list li a {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

footer .footer__container .footer__list li :hover {
  color: red;
  text-decoration: underline;
}

footer .footer__container .footer__phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 15px;
  text-decoration: none;
}

footer .footer__container .footer__phone-number a {
  color: #FFD300;
}

footer .footer__container .footer__phone-number:hover {
  text-decoration: underline;
}

footer .footer__container .footer__phone-number .phone_img {
  margin: 0px 5px 2px 0px;
}

footer .footer__container .footer__messangers {
  width: 100%;
  padding-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

footer .footer__container .footer__messangers .footer__insta {
  margin: 0px 30px 0px 0px;
}

footer .footer__container .footer__messangers .footer_whatsApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 290px;
  height: 47px;
  font-size: 14px;
  font-weight: 700;
  color: #FFD200;
  border: 1px solid #FFD200;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 5px 0px 0px;
}

footer .footer__container .footer__messangers .footer_whatsApp:hover {
  background-color: #FFD200;
  color: #000000;
}

footer .footer__info {
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0px;
  line-height: 45px;
}

footer .horisontal_line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
