/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}

.main_title {
  font-size: 45px;
  line-height: 55px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

body {
  font-family: Manrope;
  color: #17181C;
}

header {
  height: 830px;
  position: relative;
  background: linear-gradient(108.11deg, #000000 37.68%, rgba(0, 0, 0, 0) 85.37%), url(../IMG/pic.jpg);
  opacity: 0.9;
  margin: 0px 0px 192px 0px;
  padding-top: 19px;
}

.header__container {
  max-width: 1060px;
  margin: 0px auto;
}

.header__container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 87px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 80px 0px;
}

.header__container .header__nav .nav-item__logo {
  width: 170px;
  height: 86px;
  padding: 0px;
  margin: 0px 60px 0px 0px;
}

.header__container .header__nav .nav-item__list {
  list-style-type: none;
}

.header__container .header__nav .nav-item__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__nav .nav-item__list ul li {
  margin-right: 15px;
}

.header__container .header__nav .nav-item__list ul li a {
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 21.86px;
  color: #FFFFFFCC;
}

.header__container .header__nav .nav-item__list ul li a:hover {
  color: red;
  text-decoration: underline;
}

.header__container .header__nav .nav-item__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 5px 0px 15px;
}

.header__container .header__nav .nav-item__phone a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 27.32px;
}

.header__container .header__nav .nav-item__phone a:hover {
  color: red;
  text-decoration: underline;
}

.header__container .header__nav .nav-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 214px;
  height: 55px;
  background-color: #5BBFC8;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0px 0px 0px;
}

.header__container .header__nav .nav-item__button a {
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  font-size: 16px;
  line-height: 21.86px;
}

.header__container .header__nav .nav-item__button:hover {
  background-color: #29a46b;
  color: #5b0a0a;
}

.header__container .header__main .header__title {
  width: 800px;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.header__container .header__main .header__text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 24.59px;
  color: #FFFFFF;
  width: 540px;
  margin: 0px 0px 41px 0px;
  height: 104px;
}

.header__container .header__main .header__button {
  margin: 0px 0px 85px 0px;
}

.header__container .header__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container .header__cards .item-cards {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 204px;
  height: 287px;
  font-size: 19px;
  line-height: 25px;
  font-weight: 800;
  margin: 0px 0px 0px 11px;
  padding: 19px 5px 5px 17px;
  border-radius: 10px;
}

.header__container .header__cards .item-cards .item-cards__price-image {
  position: relative;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  padding-left: 8px;
}

.header__container .header__cards .item-cards:nth-child(2) {
  background: #FFD300;
  color: #000000;
}

.header__container .header__cards .item-cards:nth-child(2) .item-cards__car-image {
  position: relative;
  top: 110px;
  left: 0px;
}

.header__container .header__cards .item-cards:nth-child(2) .item-cards__price-image {
  background: #DEB905;
}

.header__container .header__cards .item-cards:nth-child(3) {
  background: #4B5257;
  color: #FFFFFF;
}

.header__container .header__cards .item-cards:nth-child(3) .item-cards__car-image {
  position: relative;
  top: 75px;
  left: 0px;
}

.header__container .header__cards .item-cards:nth-child(3) .item-cards__price-image {
  background: #B0B0B0;
}

.header__container .header__cards .item-cards:nth-child(4) {
  background-color: #5BBFC8;
  color: #000000;
}

.header__container .header__cards .item-cards:nth-child(4) .item-cards__car-image {
  position: relative;
  top: 60px;
  left: 0px;
}

.header__container .header__cards .item-cards:nth-child(4) .item-cards__price-image {
  background: #49A1A9;
}

.header__container .header__cards .item-cards:hover {
  -webkit-box-shadow: 0px 0px 16px #98c4e6;
          box-shadow: 0px 0px 16px #98c4e6;
}

.header__container .header__cards .item-cards__price-image {
  position: relative;
  margin: 0px 0px 13px 0px;
}

.header__container .header__cards .item-cards:first-child {
  background: linear-gradient(108.11deg, #e1dddd 1%, rgba(247, 246, 246, 0.777) 1%), url(../IMG/pic11.jpg);
  width: 412px;
  height: 288px;
}

.header__container .header__cards .item-cards:first-child .item-cards__container {
  margin: 36px 24px 66px 42px;
}

.header__container .header__cards .item-cards:first-child .item-cards__container .item-cards__title {
  font-size: 30px;
  font-weight: 800;
  line-height: 41px;
}

.header__container .header__cards .item-cards:first-child .item-cards__container .item-cards__title-line {
  margin: 10px 0px 18px 0px;
  width: 88px;
  height: 5px;
  background-color: #171717;
  border-radius: 5px;
}

.header__container .header__cards .item-cards:first-child .item-cards__container .item-cards__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.header__container .header__cards .item-cards:first-child:hover {
  -webkit-box-shadow: 0px 0px 16px #afa9a9;
          box-shadow: 0px 0px 16px #afa9a9;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFD200 url("../IMG/racing 1.svg") 92% 50% no-repeat;
  width: 250px;
  height: 66px;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 700;
  padding-right: 40px;
  border-radius: 5px;
  border: 0px;
}

.buttons:hover {
  background-color: #ff9100;
}

.services .services__header {
  margin: 0px 0px 19px 0px;
}

.services .services__subtitle {
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px 60px 0px;
}

.services .services__subtitle span {
  display: inline-block;
  width: 102px;
  height: 41px;
  border-radius: 5px;
  background-color: #FFD300;
  margin-right: 10px;
  color: #17181C;
}

.services .services__main .services__img {
  margin: 0px 75px 0px 0px;
}

.services .services__main .services__img img {
  float: left;
  display: block;
  max-width: 760px;
}

.services .services__main .services__options {
  display: inline-block;
  margin: 30px 0px 0px 70px;
}

.services .services__main .services__options .services__list {
  font-size: 22px;
  line-height: 45px;
  color: #17181C;
  margin: 0px 0px 45px 0px;
}

.services .services__main .services__options .services__list li p {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}

.services .services__main .services__options .services__list li:before {
  content: ' ';
  background-color: #171717;
  border-radius: 5px;
  padding-right: 5px;
}

.services .services__main .services__options .services__form .form_p {
  margin-left: 49px;
}

.services .services__main .services__options .services__form .phone_number {
  display: block;
  margin: 0px 0px 24px 21px;
  width: 300px;
  height: 30px;
  font-size: 24px;
}

.services .services__main .services__options .services__form .services__submit {
  margin: 0px 0px 54px 71px;
  width: 200px;
  height: 40px;
  background-color: #FFD300;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
}

.services .services__main .services__options .services__form .services__submit:hover {
  background: #ea7741;
}

.mobile {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #17181C;
  margin-bottom: 8px;
}

.benefits {
  background: url(../IMG/bg_pic.jpg);
  padding: 94px 0px 0px 0px;
  position: relative;
}

.benefits__title {
  width: 770px;
  margin: 0px auto;
  margin-bottom: 163px;
}

.benefits .benefits__main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits .benefits__left-options {
  max-width: 300px;
  margin: 0px 70px 0px 270px;
}

.benefits .benefits__left-list {
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
}

.benefits .benefits__left-list li:first-child {
  margin: 0px 0px 45px 0px;
}

.benefits .benefits__left-list li:nth-child(2) {
  margin: 0px 0px 80px 0px;
}

.benefits .benefits__left-list li:nth-child(3) {
  margin: 0px 0px 78px 0px;
}

.benefits .benefits__img {
  display: inline-block;
  width: 298px;
  height: 379px;
  margin: 20px 100px 225px 0px;
}

.benefits__right-options .benefit__right-list {
  display: inline-block;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  margin: 0px 0px 0px 0px;
}

.benefits__right-options .benefit__right-list li:first-child {
  margin: 0px 0px 60px 0px;
}

.benefits__right-options .benefit__right-list li:nth-child(2) {
  margin: 0px 0px 90px 0px;
}

.benefits__right-options .benefit__right-list li:nth-child(3) {
  margin: 0px 0px 105px 0px;
}

.callback {
  background: #FFD300 url("../IMG/Frame.svg") 0px 289px no-repeat;
}

.callback__title {
  padding: 128px 0px 0px 0px;
  margin: 0px 0px 102px 0px;
}

.callback__form .callback_p {
  margin: 0px 0px 8px 580px;
}

.callback__form .phone-number {
  margin: 0px 0px 107px 552px;
  width: 300px;
  height: 60px;
}

.callback__form .callback__form_button {
  width: 250px;
  height: 60px;
  background: #17181C;
  border-radius: 5px;
  color: #FFFFFF;
  margin: 0px 0px 0px 18px;
}

.callback__form .callback__form_button:hover {
  border: 2px solid red;
  color: red;
}

.works {
  background-color: #E5E5E5;
}

.works__title {
  padding: 94px 0px 0px 0px;
  margin: 0px 0px 115px 0px;
}

.works__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.works__img {
  margin: 0px 150px 118px 300px;
  max-width: 375px;
}

.works__options {
  font-size: 22px;
  line-height: 35px;
  width: 400px;
  width: 700;
}

.works__options li {
  padding-left: 15px;
}

.works__options li:before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  margin: 0px 10px 0px 0px;
  display: inline-block;
}

.prices {
  background-color: #ffffff;
  padding-top: 92px;
}

.prices__title {
  margin: 0px auto;
  margin-bottom: 150px;
  width: 650px;
}

.prices__list {
  margin: 0px 0px 90px 0px;
}

.prices__list span {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  line-height: 35px;
  width: 800px;
  height: 30px;
  background-color: #f0eeed;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 0px 20px;
}

.prices__list span:hover {
  background-color: #a29d9a;
}

.prices__list span p {
  display: inline-block;
}

.prices__button {
  margin: 0px 0px 90px 0px;
  margin-left: 643px;
}

footer {
  background-color: #17181C;
}

footer .footer__container {
  width: 1060px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .footer__container .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 40px 0px;
}

footer .footer__container .footer__main .footer__list {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer__container .footer__main .footer__list li a {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

footer .footer__container .footer__main .footer__list li :hover {
  color: red;
  text-decoration: underline;
}

footer .footer__container .footer__main .phone_logo {
  color: #FFD300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 15px;
  text-decoration: none;
}

footer .footer__container .footer__main .phone_logo:hover {
  text-decoration: underline;
}

footer .footer__container .footer__main .phone_logo .phone_img {
  margin: 0px 5px 0px 0px;
}

footer .footer__info {
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0px;
  line-height: 45px;
}

footer .horisontal_line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
